<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AIS.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AIS.Framework.Properties.Settings>
            <setting name="NSAffinityThreshold" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="APCMigrationThreshold" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HelperActivationThreshold" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SignalDispatchCoef" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="DangerSignalWeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SafeSignalWeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PAMPWeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CellLifespan" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LogInFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HelperAffinityThreshold" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="APCAffinityThreshold" serializeAs="String">
                <value>0.35</value>
            </setting>
            <setting name="CellSignalAgeCost" serializeAs="String">
                <value>0.01</value>
            </setting>
        </AIS.Framework.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
